@page
@model CarSpecs.Pages.Cars.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.make)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.make)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.generation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.generation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.year_from)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.year_from)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.year_to)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.year_to)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.series)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.series)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.trim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.trim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.body_type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.body_type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.number_of_seats)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.number_of_seats)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.length_in)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.length_in)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.width_in)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.width_in)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.height_in)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.height_in)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.curb_weight_lbs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.curb_weight_lbs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.full_weight_lbs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.full_weight_lbs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.maximum_torque_ft_lbs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.maximum_torque_ft_lbs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.injection_type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.injection_type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.cylinder_layout)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.cylinder_layout)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.number_of_cylinders)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.number_of_cylinders)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.engine_type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.engine_type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.max_power_hp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.max_power_hp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.number_of_gears)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.number_of_gears)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.transmission)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.transmission)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.acceleration_0_60_m)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.acceleration_0_60_m)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.max_speed_mph)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.max_speed_mph)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.city_fuel_mpg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.city_fuel_mpg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.fuel_grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.fuel_grade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.highway_fuel_mpg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.highway_fuel_mpg)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Car?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
